p{
    font-family: 'Special Elite', monospace;
    text-align: center;
    margin-top: 80px;
}

#piscando{
    position: absolute;
    width:1px;
    height:30px;
    background-color: white;
    margin-left: 1065px;
    margin-top: 75px;
    animation: animate 0.5s linear infinite;
}



@keyframes animate {


    2% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}