*{
    padding: 0px;
    margin: 0px;
    color: #fff;
}


body{
    background: rgb(61,10,83);
    background: linear-gradient(90deg, rgba(61,10,83,1) 17%, rgba(59,8,80,1) 24%, rgba(44,5,60,1) 34%, rgba(46,1,64,1) 53%, rgba(46,9,61,1) 77%);
    color: white;
}

main{
    margin-top: 50px;
}

header{
    box-shadow: 9px 8px 100px 2px rgb(37, 9, 73);
}

#logo{
    margin-top: 0px;
    padding: 0px;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Special Elite', monospace;
}



#last{
    color: rgb(111, 0, 255);
}

#last:hover{
    color: black;
}

#menu-h{
    position:static;
    list-style-type: none;
    padding: 0;
    background-color: #3d3d3d;
    text-align: right;

    
}

#menu-h li{
    display: inline;
    margin-right: 10px;
}

#menu-h li a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 25px;
}

#menu-h li a:hover{
    background-color: rgb(80, 80, 80)
}

#go li{
    background-color: rgb(111, 0, 255);
    padding: 20px;
}

#go li a{
    color: white;
}

#go li a:hover{
    background-color: rgb(111, 0, 255);
    padding: 20px;
}

#titulo1{
    margin-left: 235px;
    padding: 20px;
    font-size: 40px;

}

#robots{
    color: rgb(111, 0, 255);
    animation:animate 
    5.9s linear infinite;
}

#robots:hover{
    color: black;
}

@keyframes animate {
    40% {
        opacity: 0;
    }

    80% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}

p{
    color: rgb(185, 185, 185);
    margin-left: 40px;
    font-size: 16px;
    margin-top: -520px;
    position: absolute;
    text-align: left;
    font-family: 'Special Elite', monospace;
}

#linha-vertical{
    height: 2px;
    width: 320px;
    background-color: rgb(64, 6, 112);
    margin-top: -385px;
    position: absolute;
    margin-left: 250px;

}

#linha-vertical:hover{
    background: linear-gradient(90deg, rgb(111, 0, 255) 15%, rgb(96, 9, 122) 31%, rgb(79, 27, 110)100%);
}


#principal{
    margin-left: 1200px;
    margin-top: -100;
    border-radius: 220px;
    position: relative;
    box-shadow: 9px 8px 10px 12px rgb(34, 3, 54);
}

#principal:hover{
    border-top: 1px solid rgb(172, 171, 171);
    border-right: 1px solid rgb(172, 171, 171);
}

#buy{
    width: 150px;
    height: 40px;
    background-color: rgb(111, 0, 255);
    color: white;
    border-radius: 3px;
    border-style: inherit;
    border-color: white;
    position: absolute;
    margin-top: -350px;
    margin-left: 320px;
    box-shadow: 1px 1px 100px 1px rgb(30, 21, 68);
}

#buy:hover{
    background-color: rgb(85, 5, 189);
}